/* Styling for entire app (Set by T$) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
main{
  min-height: 80vh;
}

h1{
  font-size: 1.8rem;
  padding:1rem 0;
}
h2{
  font-size: 1.4rem;
  padding:0.5rem 0;
}
h3{
  padding:1rem 0;
}

/* Navbar styling (Tristan) */
.navbar-custom {
  background-color: #CFAE70;
}

.navbar-custom .navbar-brand {
  color: #1C1C1C;
  margin-left: 5%;
  font-size: 30px;
}

.navbar-custom .navbar-text {
  color: #1C1C1C;
  font-size: 25px;
}

.navbar-custom .navbar-nav .nav-link {
  color: #1C1C1C;
  font-size: 25px;
}

/* Landing Page Styling (Tristan) */
.home{
  display: flex;
  background:
    rgba(0, 0, 0, 0.35)
    url("https://www.commonapp.org/static/f14242e1e38d8f02ce26ed9f5e57c371/vanderbilt-university_277.jpg")
    no-repeat
    center;
  height:100vh;
  color: #fff;
  min-height: 500px;
  background-size: cover;
  background-blend-mode: darken;
}

.home .max-width{
width: 100%;
display: flex;
}
.home .max-width .row{
margin-right: 0;
}

.home .home-content{
  margin-left: 10%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.home .home-content .text-1{
  font-size: 100px;
  font-weight: 300;
}

.home .home-content .text-2{
  font-size: 150px;
  font-weight: 600;
}

.home .home-content .btn{
  font-size: 50px;
  font-weight: 100;
  color: #1C1C1C;
  background-color: #CFAE70;
}
  

.textColor {
  color: white
}

.button {
  text-emphasis-color: white;
  background-color:goldenrod;
}

.body {
font-family: 'Merriweather Regular';
}

.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}